@font-face {
    font-family: 'GothamRegular';
    src: url('../fonts/Gotham-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/Gotham-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLightItalic';
    src: url('../fonts/Gotham-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}